<div class="welcome">
  <h3 class="welcome-text">
    Crystal Commerce's Intra-network
  </h3>
  <h1>
    Engineering Team
  </h1>
</div>

<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Our primary systems
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'shared/tile', title: "Catalog", link: "https://catalog.crystalcommerce.com/" %>
            </td>
            <td class="green insights">
              <%= render 'shared/tile', title: "Hive", link: "https://hive.crystalcommerce.com" %>
            </td>
            <td class="yellow insights">
              <%= render 'shared/tile', title: "Lattice", link: "https://lattice.crystalcommerce.com/" %>
            </td>
            <td class="red insights">
              <%= render 'shared/tile', title: "API License Key Admin", link: "https://developers.crystalcommerce.com/admin/licenses" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Our secondary systems
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <%= render 'shared/tile', title: "Roadhouse", link: "https://developers.crystalcommerce.com" %>
            </td>
            <td class="violet insights">
              <%= render 'shared/tile', title: "External Sync", link: "https://syncchecker.crystalcommerce.com" %>
            </td>
            <td class="dark-blue insights">
              <%= render 'shared/tile', title: "RabbitMQ Task Queue", link: "https://www.github.com" %>
            </td>
            <td class="orange insights">
              <%= render 'shared/tile', title: "Admin of User-Users", link: "https://www.github.com" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Primary External Websites
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'shared/tile', title: "Liquid Planner", link: "https://app.liquidplanner.com" %>
            </td>
            <td class="green insights">
              <%= render 'shared/tile', title: "Bug Database (OnTimeNow)", link: "https://crystalcommerce.ontimenow.com/" %>
            </td>
            <td class="yellow insights">
              <%= render 'shared/tile', title: "Lighthouse", link: "https://crystalcommerce.lighthouseapp.com" %>
            </td>
            <td class="red insights">
              <%= render 'shared/tile', title: "Campfire", link: "https://crystalcommerce.campfirenow.com" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Secondary External Websites
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <%= render 'shared/tile', title: "Github", link: "https://github.com/orgs/crystalcommerce/dashboard" %>
            </td>
            <td class="violet insights">
              <%= render 'shared/tile', title: "Papertrail", link: "https://www.papertrail.com" %>
            </td>
            <td class="dark-blue insights">
              <%= render 'shared/tile', title: "Honeybadger", link: "https://www.honeybadger.io/" %>
            </td>
            <td class="orange insights">
              <%= render 'shared/tile', title: "Lighthouse", link: "https://crystalcommerce.lighthouseapp.com" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
