<div class="welcome">
  <h3 class="welcome-text">
    Crystal Commerce's Intra-network
  </h3>
  <h1>
    Graphic Design Team
  </h1>
</div>

<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Our primary systems
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'shared/tile', title: "Hive", link: "https://hive.crystalcommerce.com" %>
            </td>
            <td class="green insights">
              <%= render 'shared/tile', title: "Catalog", link: "https://catalog.crystalcommerce.com/" %>
            </td>
            <td class="yellow insights">
              <%= render 'shared/tile', title: "Basecamp", link: "https://crystalcommerce.campfirenow.com" %>
            </td>
            <td class="red insights">
              <%= render 'shared/tile', title: "Backpack", link: "https://www.github.com" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Our secondary systems
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <%= render 'shared/tile', title: "Harvest", link: "http://crystalcomm.harvestapp.com" %>
            </td>
            <td class="violet insights">
              <%= render 'shared/tile', title: "Google Drive", link: "https://www.github.com" %>
            </td>
            <td class="dark-blue insights">
              <%= render 'shared/tile', title: "CrystalCommerce Email", link: "http://mail.crystalcommerce.com" %>
            </td>
            <td class="orange insights">
              <%= render 'shared/tile', title: "Lighthouse", link: "https://crystalcommerce.lighthouseapp.com" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
