<div class="welcome">
  <h3 class="welcome-text">
    Crystal Commerce's Intra-network
  </h3>
  <h1>
    Sales Team
  </h1>
</div>

<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Our primary Places
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'shared/tile', title: "SalesForce", link: "https://www.salesforce.com" %>
            </td>
            <td class="green insights">
              <%= render 'shared/tile', title: "Hive", link: "https://hive.crystalcommerce.com" %>
            </td>
            <td class="yellow insights">
              <%= render 'shared/tile', title: "Lighthouse", link: "https://crystalcommerce.lighthouseapp.com" %>
            </td>
            <td class="red insights">
              <%= render 'shared/tile', title: "Basecamp", link: "https://crystalcommerce.campfirenow.com/" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Our secondary Places
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <%= render 'shared/tile', title: "Roadhouse", link: "https://developers.crystalcommerce.com/" %>
            </td>
            <td class="violet insights">
              <%= render 'shared/tile', title: "Catalog", link: "https://catalog.crystalcommerce.com/" %>
            </td>
            <td class="dark-blue insights">
              <%= render 'shared/tile', title: "CrystalCommerce Email", link: "http://mail.crystalcommerce.com" %>
            </td>
            <td class="orange insights">
              <%= render 'shared/tile', title: "Lattice", link: "https://lattice.crystalcommerce.com" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Other
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'shared/tile', title: "Zoho", link: "https://www.github.com" %>
            </td>
            <td class="green insights">
              <%= render 'shared/tile', title: "External Sync (Service level monitoring)", link: "https://syncchecker.crystalcommerce.com" %>
            </td>
            <td class="yellow insights">
              <%= render 'shared/tile', title: "RabbitMQ Task Queue", link: "https://www.github.com" %>
            </td>
            <td class="red insights">
              <%= render 'shared/tile', title: "API License Key Admin", link: "https://developers.crystalcommerce.com/admin/licenses" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
