<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Measure your store for the best strategic changes
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'tile', title: "Compare to other stores" %>
            </td>
            <td class="green insights">
              <%= render 'tile', title: "Key Metrics" %>
            </td>
            <td class="yellow insights">
              <%= render 'tile', title: "Financial Measurements" %>
            </td>
            <td class="red insights">
              <%= render 'tile', title: "Full Strategic Measurements " %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Insights to change products to sell better
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <%= render 'tile', title: "Insights to change products to sell better" %>
            </td>
            <td class="violet insights">
              <%= render 'tile', title: "Fix prices that are too high" %>
            </td>
            <td class="dark-blue insights">
              <%= render 'tile', title: "Sell inventory that will sell too slowly" %>
            </td>
            <td class="orange insights">
              <%= render 'tile', title: "Add more inventory to online store" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tiles">
        <thead>
          <tr>
            <td colspan="4">
              Ways to acquire more customers
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <%= render 'tile', title: "Increase affiliate marketing" %>
            </td>
            <td class="green insights">
              <%= render 'tile', title: "Add online promotions" %>
            </td>
            <td class="yellow insights">
              <%= render 'tile', title: "Hold events" %>
            </td>
            <td class="red insights">
              <%= render 'tile', title: "Inventory" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
