<div class="welcome">
  <h3 class="welcome-text">
    Welcome to the
  </h3>
  <h1>
    Crystal Commerce Intra-network
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr class="physical-store">
            <td>
              <div class="notif-title">
                Physical Store
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Restock Alerts
              </div>
              <div class="notif-count">
                2
              </div>
            </td>
          </tr>
          <tr>
            <td>Inventory lookup</td>
          </tr>
          <tr>
            <td>View Buy List</td>
          </tr>
          <tr>
            <td>View pending orders</td>
          </tr>
          <tr>
            <td>Approve buy orders</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr class="product-lists">
            <td>
              <div class="notif-title">
                Product Lists
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Priced too high
              </div>
              <div class="notif-count">
                241
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Priced too low
              </div>
              <div class="notif-count">
                17
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Price beyond price guard
              </div>
              <div class="notif-count">
                29
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Products expecting slow turnover
              </div>
              <div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Recommended buys for great turnover
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr class="online-store">
            <td>
              <div class="notif-title">
                Online Store
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Customer acquisition
              </div>
              <div class="notif-count">
                2
              </div>
            </td>
          </tr>
          <tr>
            <td>Channel performance</td>
          </tr>
          <tr>
            <td>Update Banners</td>
          </tr>
          <tr>
            <td>View online performance</td>
          </tr>
          <tr>
            <td>Suggests to scale sales</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr class="strategic-insights">
            <td>
              <div class="notif-title">
                Strategic Metrics for Store Owners
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Metrics
              </div>
              <div class="notif-count">
                3
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Tasks to scale store
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Insights
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Compare to great stores
              </div>
              <div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Financial reports
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="4">
              Measure your store for the best strategic changes
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <h3>Compare to other stores</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="green insights">
              <h3>Key metrics</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="yellow insights">
              <h3>Financial Measurements</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="red insights">
              <h3>Full strategic measurements</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="4">
              Insights to change products to sell better
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <h3>Fix prices that are too low</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="violet insights">
              <h3>Fix prices that are too high</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="dark-blue insights">
              <h3>Sell inventory that will sell too slowly</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="orange insights">
              <h3>Add more inventory to online store</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="4">
              Ways to acquire more customers
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <h3>Increase affiliate marketing</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="green insights">
              <h3>Add online promotions</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="yellow insights">
              <h3>Hold events</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="red insights">
              <h3>Inventory</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="physical-store">
            <td>
              <div class="notif-title">
                Crystal Commerce Employees
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Engineering
              </div>
            </td>
          </tr>
          <tr>
            <td>Sales & Marketing</td>
          </tr>
          <tr>
            <td>Product Support</td>
          </tr>
          <tr>
            <td>Graphic Design</td>
          </tr>
          <tr>
            <td>Management</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
