<div class="welcome">
  <h3 class="welcome-text">
    Welcome to the
  </h3>
  <h1>
    Crystal Commerce Intra-network
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Physical Store
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Restock Alerts
              </div>
              <div class="notif-count">
                2
              </div>
            </td>
            <td>Updated sell/buy list</td>
          </tr>
          <tr>
            <td>Inventorylookup</td>
            <td>Sales &coupons</td>
          </tr>
          <tr>
            <td>View Buy List</td>
            <td>Add buyer incentives</td>
          </tr>
          <tr>
            <td>View pending orders</td>
            <td>
              <div class="notif-name">
                Restock Alerts
              </div>
              <div class="notif-count">
                2
              </div>
            </td>
          </tr>
          <tr>
            <td>Approve buy orders</td>
            <td>Add products</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              List of Products
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Priced too high
              </div>
              <div class="notif-count">
                251
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Priced too low
              </div>
              <div class="notif-count">
               17
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Priced beyond price guard
              </div>
              <div class="notif-count">
               29
              </div>
            </td>
          </tr>
          <tr>
            <td>Products expecting slow turnover</td>
          </tr>
          <tr>
            <td>Recommended buys for great turnover</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Online Store
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Customer Acquisition
              </div>
              <div class="notif-count">
               29
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Channel performance
            </td>
          </tr>
          <tr>
            <td>Update Barriers</td>
          </tr>
          <tr>
            <td>View online performance</td>
          </tr>
          <tr>
            <td>Suggests to scale sales</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Strategic insights for store owners
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Metrics
              </div>
              <div class="notif-count">
                3
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Tasks to scale store
            </td>
          </tr>
          <tr>
            <td>
              Insights
            </td>
          </tr>
          <tr>
            <td>Compare to great stores</td>
          </tr>
          <tr>
            <td>Principal reports</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="4">
              Measure your store for the best strategic changes
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <h3>Compare to other stores</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="green insights">
              <h3>Key metrics</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="yellow insights">
              <h3>Financial Measurements</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="red insights">
              <h3>Full strategic measurements</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="4">
              Insights to change products to sell better
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue-green insights">
              <h3>Fix prices that are too low</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="violet insights">
              <h3>Fix prices that are too high</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="dark-blue insights">
              <h3>Sell inventory that will sell too slowly</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="orange insights">
              <h3>Add more inventory to online store</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="4">
              Ways to acquire more customers
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="blue insights">
              <h3>Increase affiliate marketing</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="green insights">
              <h3>Add online promotions</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="yellow insights">
              <h3>Hold events</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
            <td class="red insights">
              <h3>Inventory</h3>
              <hr>
              <h5><a href="#" class="more-info">More info</a></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="physical-store">
            <td>
              <div class="notif-title">
                Crystal Commerce Employees
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Engineering
              </div>
            </td>
          </tr>
          <tr>
            <td>Sales & Marketing</td>
          </tr>
          <tr>
            <td>Product Support</td>
          </tr>
          <tr>
            <td>Graphic Design</td>
          </tr>
          <tr>
            <td>Management</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
