<div class="welcome">
  <h3 class="welcome-text">
    Welcome to the
  </h3>
  <h1>
    Crystal Commerce Intra-network
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Physical Store
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Restock Alerts
              </div>
              <div class="notif-count">
                2
              </div>
            </td>
            <td>Updated sell/buy list</td>
          </tr>
          <tr>
            <td>Inventorylookup</td>
            <td>Sales &coupons</td>
          </tr>
          <tr>
            <td>View Buy List</td>
            <td>Add buyer incentives</td>
          </tr>
          <tr>
            <td>View pending orders</td>
            <td>
              <div class="notif-name">
                Restock Alerts
              </div>
              <div class="notif-count">
                2
              </div>
            </td>
          </tr>
          <tr>
            <td>Approve buy orders</td>
            <td>Add products</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              List of Products
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Priced too high
              </div>
              <div class="notif-count">
                251
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Priced too low
              </div>
              <div class="notif-count">
               17
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="notif-name">
                Priced beyond price guard
              </div>
              <div class="notif-count">
               29
              </div>
            </td>
          </tr>
          <tr>
            <td>Products expecting slow turnover</td>
          </tr>
          <tr>
            <td>Recommended buys for great turnover</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Online Store
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Customer Acquisition
              </div>
              <div class="notif-count">
               29
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Channel performance
            </td>
          </tr>
          <tr>
            <td>Update Barriers</td>
          </tr>
          <tr>
            <td>View online performance</td>
          </tr>
          <tr>
            <td>Suggests to scale sales</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Strategic insights for store owners
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <div class="notif-name">
                Metrics
              </div>
              <div class="notif-count">
                3
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Tasks to scale store
            </td>
          </tr>
          <tr>
            <td>
              Insights
            </td>
          </tr>
          <tr>
            <td>Compare to great stores</td>
          </tr>
          <tr>
            <td>Principal reports</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>

<%= render 'tiles' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="physical-store">
            <td>
              <div class="notif-title">
                Crystal Commerce Employees
              </div>
              <div class="notif-link">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="notif-name">
                Engineering
              </div>
            </td>
          </tr>
          <tr>
            <td>Sales & Marketing</td>
          </tr>
          <tr>
            <td>Product Support</td>
          </tr>
          <tr>
            <td>Graphic Design</td>
          </tr>
          <tr>
            <td>Management</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
