<div class="welcome">
  <h3 class="welcome-text">
    Welcome to the
  </h3>
  <h1>
    Crystal Commerce Intra-network
  </h1>
</div>

<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Physical Store
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <%= render 'notif', title: "Restock Alerts", count: 2 %>
            <%= render 'notif', title: "Updated sell/buy list", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Inventory Lookup", count: 0 %>
            <%= render 'notif', title: "Sales & Coupons", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "View Buy List", count: 0 %>
            <%= render 'notif', title: "Add buyer Incentives", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "View Pending Orders", count: 0 %>
            <%= render 'notif', title: "Restock Alerts", count: 2 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Approve buy orders", count: 0 %>
            <%= render 'notif', title: "Add products", count: 0 %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              List of Products
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <%= render 'notif', title: "Priced too high", count: 251 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Priced too low", count: 17 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Priced beyond price guard", count: 29 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Products expecting slow turnover", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Recommended buys for great turnover", count: 0 %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Online Store
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <%= render 'notif', title: "Cusomter Acquisition", count: 29 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Channel Performance", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Update Barriers", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "View online performance", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Suggests to scale sales", count: 0 %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
              Strategic insights for store owners
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <%= render 'notif', title: "Metrics", count: 3 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Tasks to scale store", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Insights", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Compare to great stores", count: 0 %>
          </tr>
          <tr>
            <%= render 'notif', title: "Principal Reports", count: 0 %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'tiles' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered tasks">
        <tbody>
          <tr>
            <td rowspan="5" class="title">
             Crystal Commerce Employees 
              <div class="all-tasks">
                <%= link_to "All tasks", "#"%>
              </div>
            </td>
            <td>
              <%= link_to "Engineering", "/people/engineering" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Sales & Marketing", "/people/sales_team" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Product Support", "/people/customer_support_team" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Graphic Design", "/people/graphic_design" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Management", "/people/engineering" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
